absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
autograd
autograd-gamma
babel
backoff
bcrypt
beautifulsoup4
bitsandbytes
bleach
blinker
build
CacheControl
cachetools
certifi
cffi
charset-normalizer
chromadb
cinemagoer
click
colorama
coloredlogs
comm
contourpy
coverage
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
distro
dotenv
durationpy
ERPpeek
et-xmlfile
executing
fastapi
fastjsonschema
filelock
firebase-admin
Flask
flatbuffers
fonttools
formulaic
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
hf-xet
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
icecream
idna
IMDbPY
importlib_metadata
importlib-resources
iniconfig
interface-meta
ipykernel
ipython
ipywidgets
ISLP
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-client
jupyter-core
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
libclang
lifelines
lightning-utilities
linearmodels
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
mmh3
mpmath
msgpack
multidict
mypy-extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
oauthlib
ollama
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opt-einsum
optimum
optree
orjson
ormsgpack
overrides
packaging
pandas
pandocfilters
parso
patsy
pdfminer.six
pdfplumber
pexpect
pgvector
pillow
platformdirs
plotly
pluggy
posthog
prettytable
progressbar2
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pybase64
pybaseball
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic-core
pydeck
pygam
PyGithub
Pygments
pyhdfe
PyJWT
PyMuPDF
PyNaCl
pyparsing
pypdf
pypdfium2
PyPika
pyproject-hooks
pytest
pytest-cov
pytest-mock
python-dateutil
python-docx
python-dotenv
python-json-logger
python-utils
pytorch-lightning
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
statsmodels
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
torch
torchmetrics
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-inspect
typing-inspection
typing-extensions
tzdata
uri-template
uritemplate
urllib3
uuid-utils
uvicorn
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wget
wheel
widgetsnbextension
wrapt
xxhash
yarl
yt-dlp
zipp
zstandard